<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <%= render partial: "shared/item_delete_link", 
                locals: { item: feed_item, user: @user } %>
</li>