  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>
  
    <h2>
      This is the home page for the SecretSquirrel.
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("secretsquirrel.png", alt: "Rails"), 'http://www.youtube.com/watch?v=-S_F9U9gNEQ' %>
